.window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);

  z-index: 1000;
}

.form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  background-color: white;
  height: 50vh;
  border-radius: 1rem;
  padding: 3rem;
}
