.carousel {
  margin: 1rem auto;
  width: 85vw;
  background-color: rgb(238, 232, 214);
  display: flex;
  overflow-x: auto;
  height: 40vh;
  overflow-x: hidden;
  overflow-y: hidden;

  @media (max-width: 800px) {
    height: 35vh;
  }

  @media (max-width: 480px) {
    height: 22vh;
    // 手機更矮一點
  }
  img {
    transition: all 0.6s ease;

    @media (max-width: 800px) {
      transform: scale(0.8);
      background-size: 60%;
    }

    @media (max-width: 480px) {
      transform: scale(0.6);
      background-size: 60%;
    }
  }

  .carousel::-webkit-scrollbar {
    display: none;
  }

  .group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 10s infinite linear;
    padding-right: 1em;
  }

  .card {
    flex: 0 0 5em;
    height: 5em;
    padding: 1em;
    font-size: 3rem;
    border-radius: 0.2em;
    text-align: center;
    display: grid;
    place-content: center;
    background: transparent;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: all 0.6s ease;

    // The magic: pseudo-element for the transparent white layer
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: transparent;
      transition: all 0.6s ease;
      pointer-events: none;
    }

    &:hover {
      background-image: url("https://ntcfaqkdafuaxfxoweab.supabase.co/storage/v1/object/public/cabin-images/ball.jpg");

      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      transform: scale(1.3);
      @media (max-width: 800px) {
        background-size: 50%;
      }

      @media (max-width: 480px) {
        background-size: 40%;
      }
      img {
        transform: scale(1.3);
        @media (max-width: 800px) {
          transform: scale(0.8);
          background-size: 60%;
        }

        @media (max-width: 480px) {
          transform: scale(0.6);
          background-size: 60%;
        }
      }
    }
  }

  @keyframes spin {
    from {
      translate: 0%;
    }
    to {
      translate: -100%;
    }
  }
}
