@use "@/styles/_variables" as *;
@use "@/styles/_mixins" as *;
@use "@/styles/_functions" as *;

.product {
  width: 100%;
  height: 100%;
  background-color: pink;
  display: grid;
  place-items: center;
}
